.my-swiper {
    .swiper {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      .swiper-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
        .swiper-slide,
        .swiper-slide-prev,
        .swiper-slide-active,
        .swiper-slide-next {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px;
          margin: 0;
        }
      }
    }
  }